@import '../../../sass-variables';

.wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $blueGrey200;
    margin-bottom: 1rem;
}

.title {
    width: 100px;
    font-weight: 400;
    font-size: 1rem;
}

.options {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem; 
}

.filter {
    margin-right: 1rem;
    width: auto;
    min-width: 100px;
}
