@import '../../../../sass-variables';

.label {
    font-size: .7rem;
    color: $blueGrey;
    text-transform: uppercase;
    padding-left: .3rem;
    span {
        color: $red;
    }
}

.select {
    width: 100%;
    font-size: .9rem;
    background-color: $bgColor;
    padding: .5em 1rem;
    padding: .3em;
    border-radius: .3rem;
    border: 1px solid $blueGrey100;
    display: block;
    height: 1.7rem;
    margin-top: .2rem;
}