@import './sass-variables';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $mianFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  color: bodyColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  width: 100%;
}

.svg-icon {
  fill: $bodyColor;
  width: 1em;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}
